.transactionHistory {
  max-width: 300px;
  border-collapse: collapse;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
}

.head {
  background-color: rgb(18, 172, 113);
  text-transform: uppercase;
}

.body {
  padding: 5px;
}

.head th,
.body td {
  min-width: 300px;
  padding: 15px;
  border: 1px solid rgba(55, 138, 35, 0.5);
}
